.txt__3{
    font-size: 60px;
    color:rgb(48, 119, 34) ;
}
.txt__4{
    font-size: 50px;
}
.txt__item{
    background-color: rgba(105, 105, 192, 0.521);
}
.imG__1{
    margin-left: 100px;
    box-shadow: 3px 2px 6px #000
}
.imG__2{
    width: 600px;
    height: 580px;
}